
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <h1 class="page-title">
        DEPARTMENT
        <small>List</small>
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="portlet-title">
                    <div class="caption" align="right">
                        <a href="@Url.Action("AddDepartment", "Department")" id="Add" class="btn btn-outline-primary">Add New &nbsp;<i class="glyphicon glyphicon-plus"></i></a>
                    </div>
                    <br />
                </div>
                <div class="box-body">
                    <table id="departmentData" class="display">

                        <thead>
                            <tr>
                                <th>CODE</th>
                                <th>NAME</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>CODE</th>
                                <th>NAME</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal bd-example-modal-sm" tabindex="-1" role="dialog" id="Add-Model" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>@ViewBag.Title</strong></h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="divForAdd">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal bd-example-modal-sm" id="Edit-Model" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><strong>@ViewBag.Title</strong></h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="divForUpdate">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/Scripts/AddViewModel.js"></script>
    <script>
        $(document).ready(function () {

            $("#departmentData").DataTable(
                {
                    "ajax": {
                        "url": "/Department/GetList",
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "DepartmentCode" },
                        { "data": "DepartmentName" }
                    ]

                });

        });
    </script>

}
