@{
    ViewBag.Title = "Home Page";
}

<main role="main" class="container">
    <div class="jumbotron">
        <h1>DATATABLE GRID IN MVC</h1>
        <p class="lead">HERE WE WILL SEE. SERVER SIDE SORTING, SEARCHING, PAGING, ETC.........<br /> <h3><strong>APPLICATION</strong></h3><ul><li>VISUAL STUDIO 2015</li><li>N-TIER ARCHITECTURE</li><li>ENTITY FRAMEWORK 5 OR AVOBE</li><li>MSSQL SERVER 2014</li></ul> </p>

        <a class="btn btn-lg btn-primary" href="https://datatables.net/" role="button">Datetable.Net »</a>
    </div>
</main>